<?xml version="1.0" encoding="utf-8"?>
<!-- Merged into the app so Google Sign-In receives onActivityResult (UnityPlayerGameActivity does not forward it). See Packages/com.googlesignin.unity/.../GoogleSignInUnityActivity.java -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <application>
        <activity
            android:name="com.unity3d.player.UnityPlayerGameActivity"
            tools:node="remove" />
        <activity
            android:name="com.googlesignin.GoogleSignInUnityActivity"
            android:exported="true"
            android:theme="@style/BaseUnityGameActivityTheme"
            android:configChanges="fontScale|keyboard|keyboardHidden|locale|mnc|mcc|navigation|orientation|screenLayout|screenSize|smallestScreenSize|uiMode|touchscreen|density|layoutDirection">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data android:name="android.app.lib_name" android:value="game" />
            <meta-data android:name="unityplayer.UnityActivity" android:value="true" />
        </activity>
    </application>
</manifest>
